/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignore lock
package-lock.json

# Ignore compiled files
/public/mix-manifest.json
/public/js/
/public/ts/
/public/css/